<div class="home">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
          <div class="hr1">
              <hr class="hrPresentation">
    
              <h1 class="ServiceReplacement">Home</h1>
    
              <hr class="hrPresentation">
            </div>

        <img src="/assets/wildCircus.jpeg" height="500" width="900" align="center" id="wildCircus">
        <h2 class="text-center">who are we</h2>
        <p>Young and old, embark on the most gigantic, chic and authentic circus performances!

          Under the most beautiful capital of France, irresistible numbers and monumental attractions will make you turn
          your head and capsize happiness.

          Between feats, magic and poetry, our circus animals create a fire of emotions like you will not live anywhere
          else.

          Do not wait any longer, join the party and embark on the incredible adventure offered by the Wild Circus!

          More than ever, with us make the difference! </p>

        <div class="hr1">
          <hr class="hrPresentation">

          <h1 class="ServiceReplacement">Presentation Shows</h1>

          <hr class="hrPresentation">
        </div>

        <div class="imageLeft">
          <img src="/assets/Acrobates.jpg" class="ShowLeft" style="width:170px;height:170px;">
          <h2>Acrobats</h2>
          <p> Two big kids playing together, no screen and no toys! A seamless complicity that makes their
            hand to hand an exceptional performance where falls, flying and acrobatics are linked</p>
        </div>

        <div class="imageRight">
          <img src="/assets/Magicians.jpg" class="ShowRight" style="width:170px;height:170px;">
          <h2>Magicians</h2>
          <p>The magicians will amaze you with their breathtaking towers that follow each other at a furious pace. A
            breathless magic and full of humor to which the public participates.</p>
        </div>

        <div class="imageLeft">
          <img src="/assets/Horses.jpg" class="ShowLeft" style="width:170px;height:170px;">
          <h2>Horses</h2>
          <p> Clinging to their horses, they put themselves in permanent danger with a performance of high equestrian
            acrobatics where they chained the acrobatics at a furious pace. A breathtaking number!</p>
        </div>

        <div class="imageRight">
          <img src="/assets/Clowns.jpg" class="ShowRight" style="width:170px;height:170px;">
          <h2>Clowns</h2>
          <p>Laughs guaranteed, with two burlesque clowns that accumulate gaffes and antics and a white clown who tries
            to
            moderate their ardor as best they can. Through their different performances, the Caravels mix mime, dance,
            improvisation and interaction with the audience in hilarious performances for the pleasure of both children
            and
            adults.</p>
        </div>

      </div>
    </div>
  </div>
</div>