<div class="footer mt-4 card-footer">
    <div class="row">
      <div class="col-12 col-sm-4 text-center mt-3">
        <ul class="rounded mx-auto d-block font-weight-bold">
          <li>
            <a routerLink="home" routerLinkActive="active">Home</a>
          </li>
          <li><a routerLink="price" routerLinkActive="active">Price</a>
          </li>
          <li><a routerLink="gallery" routerLinkActive="active">Gallery</a>
          </li>
          <li><a routerLink="contact" routerLinkActive="active">Contact</a>
          </li>
        </ul>
      </div>
      <div class="col-12 col-sm-4 mt-3 d-flex justify-content-center">
        <div routerLinkActive="active" class="d-flex align-items-center">
          <img routerLink='home' src="/assets/clown.png" height="80" width="80" alt="sera28" >
        </div>
        <div>
          <span class="companyTitle">Wild Circus</span>
          <p class="mt-n1">1 Chemin de la ferme</p>
          <p class="mt-n3">77240 FONTAINE SIMON</p>
          <p class="mt-n3"><span class="nameStaff">Robert Mickaël</span> : 06.00.00.00.00</p>
        </div>
      </div>
      <div class="col-12 col-sm-4 mt-3 text-center">
          <img class="img-fluid" alt="Responsive image" src="/assets/linkedin-icon.png" class="logo"alt="logoLinkedin" height="0" width="80">
        <img class="img-fluid" alt="Responsive image" src="/assets/github.png" class="logo"alt="logoGithub" height="0" width="75">
      </div>
    </div>
  </div>