@font-face {
  font-family: "Circus";
  src: url("../../assets/fonts/Circus.ttf") format("truetype");
}

@media (max-width: 575.98px)  {
  ul {
    list-style-type: none;
    margin-top: 150%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  ul {
    list-style-type: none;
    margin-top: 150%;
  }
}

@media (min-width: 992px) {
  ul {
    list-style-type: none;
    margin-top: 50%;
  }
}

a {
  color: white;
  font-size: 40px;
  font-family: "Circus";
  color: goldenrod;
}

li {
  text-align: center;
  margin: auto;
}

.bg-img {
  background-image: url("https://www.flightcentre.com.au/sites/v0.flightcentre.com.au/files/styles/fcl_blog_slideshow/public/kooza-feat.jpg?itok=Vvf5LGq3");
  min-height: 350px;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* Needed to position the navbar */
  position: relative;
}

/* Position the navbar container inside the image */

.navCircus {
  position: absolute;
  margin: 20px;
}

.collapse a {
  color: black;
  text-shadow: 2px 0 0 #d60, 2px 2px 0 #d60, 0 2px 0 #d60, -2px 2px 0 #d60, -2px 0 0 #d60, -2px -2px 0 #d60, 0 -2px 0 #d60, 2px -2px 0 #d60;
}

.collapse a:hover {
  color: red;
}