<img src="assets/circus.jpg" height="200" width="1600"alt=""/>
<nav class="navbar navbar-expand-sm  justify-c fixed-top mx-auto mt-2 mt-lg-0 row align-items-center justify-content-center">
    <ul class="navbar-nav font-weight-bold">
      <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Price</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#">Gallery</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
    </ul>

  </nav>