@font-face {
    font-family: "Circus";
    src: url("../../assets/fonts/Circus.ttf") format("truetype");
}

@font-face {
    font-family: "Wind";
    src: url("../../assets/fonts/wind.ttf") format("truetype");
}

p {
    font-family: "Wind";
    font-style: normal;
    font-size: 1.5rem;
}

h1 {
    text-align: center;
    font-family: "Circus";
    color: blue;
    text-shadow: 2px 0 0 white, 2px 2px 0 white, 0 2px 0 white, -2px 2px 0 white, -2px 0 0 white, -2px -2px 0 white, 0 -2px 0 white, 2px -2px 0 white;
}

img {
    padding-left: 20px;
    padding-bottom: 20px;
}

.hr1 {
    margin-top: 5%;
    margin-bottom: 3%;
}

.hrPresentation {
    background-color: #00b2e5;
    text-align: center;
    color: #00b2e5;
    background-color: transparent;
    border-image: linear-gradient(to left, rgba(0, 0, 0, 0), blue, rgba(0, 0, 0, 0));
    border-image-slice: 100% 0% 100% 0%;
}