<hr class="hrPresentation">
<h1 class="ServiceReplacement text-center">Gallery</h1>
<hr class="hrPresentation">

<div class="container">
  <div class="row">
    <img class="col-lg-3 col-md-6 col-xl-3 col-sm-12" src="/assets/Acrobates.jpg" height="200" width="200"
      align="center" id="wildCircus">
    <img class="col-lg-3 col-md-6 col-xl-3 col-sm-12" src="/assets/Clowns.jpg" height="200" width="200" align="center"
      id="wildCircus">
    <img class="col-lg-3 col-md-6 col-xl-3 col-sm-12" src="/assets/Fire.jpeg" height="200" width="200" align="center"
      id="wildCircus">
    <img class="col-lg-3 col-md-6 col-xl-3 col-sm-12" src="/assets/Horses.jpg" height="200" width="200" align="center"
      id="wildCircus">
    <img class="col-lg-3 col-md-6 col-xl-3 col-sm-12" src="/assets/Magicians.jpg" height="200" width="200"
      align="center" id="wildCircus">
    <img class="col-lg-3 col-md-6 col-xl-3 col-sm-12" src="/assets/wildCircus.jpeg" height="200" width="200"
      align="center" id="wildCircus">
      <img class="col-lg-3 col-md-6 col-xl-3 col-sm-12" src="/assets/Elefant.jpg" height="200" width="200"
      align="center" id="wildCircus">
      <img class="col-lg-3 col-md-6 col-xl-3 col-sm-12" src="/assets/Lion.jpeg" height="200" width="200"
      align="center" id="wildCircus">
  </div>
</div>