<hr class="hrPresentation">
<h1 class="ServiceReplacement text-center">Contact</h1>
<hr class="hrPresentation">

<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2 col-md-12">
      <form (ngSubmit)="submit()" #myForm="ngForm" class="mx-auto ">
        <div class="form-group">
          <label for="lastName">Last name<span class="requis">*</span> :</label>
          <input required minlength="2" maxlength="15" [(ngModel)]="lastName" #Lastname="ngModel" id="lastName"
            name="lastName" type="text" class="form-control">
        </div>

        <div *ngIf="myForm.submitted">
          <div class="alert alert-danger" *ngIf="lastName.errors">
            <div *ngIf="lastName.errors.required">Required fields.</div>
            <div *ngIf="lastName.errors.minlength">Required fields 2 characters.</div>
          </div>
        </div>

        <div class="form-group">
          <label for="firstName">First name<span class="requis">*</span> :</label>
          <input required minlength="2" maxlength="15" [(ngModel)]="firstName" #Firstname="ngModel" id="firstName"
            name="firstName" type="text" class="form-control">
        </div>

        <div *ngIf="myForm.submitted">
          <div class="alert alert-danger" *ngIf="firstName.errors">
            <div *ngIf="firstName.errors.required">Required fields.</div>
            <div *ngIf="firstName.errors.minlength">Required fields 2 characters.</div>
          </div>
        </div>
        <div class="form-group">
          <label for="phoneNumber">Phone number<span class="requis">*</span> :</label>
          <input required minlength="10" maxlength="10" [(ngModel)]="phoneNumber" #PhoneNumber="ngModel"
            name="Numéro de téléphone" id="phoneNumber" type="text" class="form-control">
        </div>
        <div *ngIf="myForm.submitted">
          <div class="alert alert-danger" *ngIf=" PhoneNumber.errors">
            <div *ngIf="PhoneNumber.errors.required">Phone number required.</div>
            <div *ngIf="PhoneNumber.errors.minlength">Invalid phone number.</div>
          </div>
        </div>
        <div class="form-group">
          <label for="email">Email<span class="requis">*</span> :</label>
          <input required minlength="9" maxlength="50" [(ngModel)]="email" #Email="ngModel" n="ngModel"
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" id="email" type="text" name="mail" class="form-control">
        </div>
        <div *ngIf="myForm.submitted">
          <div class="alert alert-danger" *ngIf="email.errors">
            <div *ngIf="email.errors.required">Email required.</div>
            <div *ngIf="email.errors.pattern ">Invalid email.</div>
          </div>
        </div>
        <div class="form-group">
          <label for="comment">Comments :</label>
          <textarea [(ngModel)]="comment" #Comment="ngModel" id="comment" type="text" placeholder=""
            name="comment" class="form-control" class="col-12" cols="50" rows="5"></textarea>
        </div>
        <div class="form-group">
          <div>
            <input type="checkbox" id="checkbox" name="checkbox" [(ngModel)]="check" #Checkbox="ngModel" required>
            <label for="checkbox">By checking this box, I certify that I have read the legal notices.</label>
          </div>
          <div *ngIf="myForm.submitted">
            <div class="alert alert-danger" *ngIf="Checkbox.errors">
              <div *ngIf="Checkbox.errors.required">Required box.</div>
            </div>
          </div>
          <div class="requiredEmpty">
            <span>(*)</span> <span class="required font-italic"> Required fields.</span>
            <br>
            <button class="btn btn-warning " type="submit">SUBMIT </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>