@font-face {
    font-family: "Wind";
    src: url("../../assets/fonts/wind.ttf") format("truetype");
  }
  
button{
    color: black;
   display: block;
   margin: auto;
 }
 h2{
    text-align: center;
 }
 *{
    color: black;
    font-family: "Wind";
    font-size: 1.5rem;
 }

 p{
    text-align: center;
 }